<% include partials/header%>
<h1>this is the home screen</h1>
<img src=https://static8.depositphotos.com/1020341/896/i/950/depositphotos_8969502-stock-photo-human-face-with-cracked-texture.jpg>
<% include partials/foote%>  